<h1>Timetracking tool</h1>

<h2>Project Entries</h2>

<h3>
  <%= @proj.name %>
</h3>

<ul>
  <% @entries.each do |entr| %>
    <li>
      <%= entr.hours %> hours
      <%= entr.minutes %> minutes
      <ul>
        <li>
          <a href="/projects/<%= @proj.id %>/entries/<%= entr.id %>/edit">
            Edit
          </a>
        </li>
        <li>
          <a href="/projects/<%= @proj.id %>/entries/<%= entr.id %>"
              data-method="delete"
              data-confirm="Are you sure you want to delete this?">
            Delete
          </a>
        </li>
      </ul>
    </li>
  <% end %>
</ul>


<a href="/projects/<%= @proj.id %>/entries/new">
  Add new time entry
</a>
