<h1>Timetracking tool</h1>

<h2>Project Entries</h2>

<h3>
  <%= @proj.name %>
</h3>

<ul>
  <% @entries.each do |entr| %>
    <li>
      <%= entr.hours %> hours
      <%= entr.minutes %> minutes
      <a href="/projects/<%= @proj.id %>/entries/<%= entr.id %>/edit">
        Edit this time entry
      </a>
    </li>
  <% end %>
</ul>


<a href="/projects/<%= @proj.id %>/entries/new">
  Add new time entry
</a>
